# Temporary Files
*~
.*.swp
.DS_STORE
*.mdb
# per project ignores, it's cumbersome, but reduces the risk of missing something

# Gradle
.gradle
build/
dist/

# Intellij
.idea/
*.ipr
*.iws
*.iml
out/
com_crashlytics_export_strings.xml

# Eclipse
.classpath
.project
.metadata
**/bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.externalToolBuilders/
*.launch
